.topContainer {
    padding: 4%;
}

.bottomContainer {
    margin-bottom: 15px;
}

.form {
    margin-top: 10%;
    width: 50vh;

}

.centerLogo {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: full-width;
    padding-bottom: 20px;
}